mat-card{
    color: #f5f1f1;
}
mat-card-actions{
    justify-content: center;
}
.btn-edit{
    border-radius: 20px;
    background-color: rgb(255, 174, 0);
    color: black !important;
}
.btn-delet{
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    color: black !important;
}
  
  
